<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD-MTtGKD0gf8psPuuz908WFNIuBW0kZTQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1051906744816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.decimaltechnology.krewwash</string>
	<key>PROJECT_ID</key>
	<string>krew-carwash</string>
	<key>STORAGE_BUCKET</key>
	<string>krew-carwash.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051906744816:ios:50b910950ec05276c77d35</string>
</dict>
</plist>