<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>532581665819-p56s1lh4mnf94lde8bk1b71ppno9ef6c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.532581665819-p56s1lh4mnf94lde8bk1b71ppno9ef6c</string>
	<key>API_KEY</key>
	<string>AIzaSyCWpFZKPOxTfFW-Ru275hHa4c2SPFCyzZc</string>
	<key>GCM_SENDER_ID</key>
	<string>532581665819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.decimaltechnology.krewwash</string>
	<key>PROJECT_ID</key>
	<string>krew-wash-faa79</string>
	<key>STORAGE_BUCKET</key>
	<string>krew-wash-faa79.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:532581665819:ios:485a646cd82d0a4c31fcbe</string>
</dict>
</plist>

